/01-csahrp-procedural/01-instuctions/01-hello-world/bin/Debug/net5.0/01-hello-world.deps.json
/01-csahrp-procedural/01-instuctions/01-hello-world/bin/Debug/net5.0/01-hello-world.dll
/01-csahrp-procedural/01-instuctions/01-hello-world/bin/Debug/net5.0/01-hello-world.exe
/01-csahrp-procedural/01-instuctions/01-hello-world/bin/Debug/net5.0/01-hello-world.pdb
/01-csahrp-procedural/01-instuctions/01-hello-world/bin/Debug/net5.0/01-hello-world.runtimeconfig.dev.json
/01-csahrp-procedural/01-instuctions/01-hello-world/bin/Debug/net5.0/01-hello-world.runtimeconfig.json
/01-csahrp-procedural/01-instuctions/01-hello-world/bin/Debug/net5.0/ref/01-hello-world.dll
/01-csahrp-procedural/01-instuctions/01-hello-world/obj/01-hello-world.csproj.nuget.dgspec.json
/01-csahrp-procedural/01-instuctions/01-hello-world/obj/01-hello-world.csproj.nuget.g.props
/01-csahrp-procedural/01-instuctions/01-hello-world/obj/01-hello-world.csproj.nuget.g.targets
/01-csahrp-procedural/01-instuctions/01-hello-world/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/01-csahrp-procedural/01-instuctions/01-hello-world/obj/Debug/net5.0/01-hello-world.AssemblyInfo.cs
/01-csahrp-procedural/01-instuctions/01-hello-world/obj/Debug/net5.0/01-hello-world.AssemblyInfoInputs.cache
/01-csahrp-procedural/01-instuctions/01-hello-world/obj/Debug/net5.0/01-hello-world.GeneratedMSBuildEditorConfig.editorconfig
/01-csahrp-procedural/01-instuctions/01-hello-world/obj/Debug/net5.0/01-hello-world.assets.cache
/01-csahrp-procedural/01-instuctions/01-hello-world/obj/Debug/net5.0/01-hello-world.csproj.AssemblyReference.cache
/01-csahrp-procedural/01-instuctions/01-hello-world/obj/Debug/net5.0/01-hello-world.csproj.CoreCompileInputs.cache
/01-csahrp-procedural/01-instuctions/01-hello-world/obj/Debug/net5.0/01-hello-world.csproj.FileListAbsolute.txt
/01-csahrp-procedural/01-instuctions/01-hello-world/obj/Debug/net5.0/01-hello-world.csprojAssemblyReference.cache
/01-csahrp-procedural/01-instuctions/01-hello-world/obj/Debug/net5.0/01-hello-world.dll
/01-csahrp-procedural/01-instuctions/01-hello-world/obj/Debug/net5.0/01-hello-world.genruntimeconfig.cache
/01-csahrp-procedural/01-instuctions/01-hello-world/obj/Debug/net5.0/01-hello-world.pdb
/01-csahrp-procedural/01-instuctions/01-hello-world/obj/Debug/net5.0/apphost.exe
/01-csahrp-procedural/01-instuctions/01-hello-world/obj/Debug/net5.0/ref/01-hello-world.dll
/01-csahrp-procedural/01-instuctions/01-hello-world/obj/project.assets.json
/01-csahrp-procedural/01-instuctions/01-hello-world/obj/project.nuget.cache
/01-csahrp-procedural/01-instuctions/02-sequence/.vs/02-sequence/v16/.suo
/01-csahrp-procedural/01-instuctions/02-sequence/bin/Debug/net5.0/02-sequence.deps.json
/01-csahrp-procedural/01-instuctions/02-sequence/bin/Debug/net5.0/02-sequence.dll
/01-csahrp-procedural/01-instuctions/02-sequence/bin/Debug/net5.0/02-sequence.exe
/01-csahrp-procedural/01-instuctions/02-sequence/bin/Debug/net5.0/02-sequence.pdb
/01-csahrp-procedural/01-instuctions/02-sequence/bin/Debug/net5.0/02-sequence.runtimeconfig.dev.json
/01-csahrp-procedural/01-instuctions/02-sequence/bin/Debug/net5.0/02-sequence.runtimeconfig.json
/01-csahrp-procedural/01-instuctions/02-sequence/bin/Debug/net5.0/ref/02-sequence.dll
/01-csahrp-procedural/01-instuctions/02-sequence/obj/02-sequence.csproj.nuget.dgspec.json
/01-csahrp-procedural/01-instuctions/02-sequence/obj/02-sequence.csproj.nuget.g.props
/01-csahrp-procedural/01-instuctions/02-sequence/obj/02-sequence.csproj.nuget.g.targets
/01-csahrp-procedural/01-instuctions/02-sequence/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/01-csahrp-procedural/01-instuctions/02-sequence/obj/Debug/net5.0/02-sequence.AssemblyInfo.cs
/01-csahrp-procedural/01-instuctions/02-sequence/obj/Debug/net5.0/02-sequence.AssemblyInfoInputs.cache
/01-csahrp-procedural/01-instuctions/02-sequence/obj/Debug/net5.0/02-sequence.GeneratedMSBuildEditorConfig.editorconfig
/01-csahrp-procedural/01-instuctions/02-sequence/obj/Debug/net5.0/02-sequence.assets.cache
/01-csahrp-procedural/01-instuctions/02-sequence/obj/Debug/net5.0/02-sequence.csproj.AssemblyReference.cache
/01-csahrp-procedural/01-instuctions/02-sequence/obj/Debug/net5.0/02-sequence.csproj.CoreCompileInputs.cache
/01-csahrp-procedural/01-instuctions/02-sequence/obj/Debug/net5.0/02-sequence.csproj.FileListAbsolute.txt
/01-csahrp-procedural/01-instuctions/02-sequence/obj/Debug/net5.0/02-sequence.csprojAssemblyReference.cache
/01-csahrp-procedural/01-instuctions/02-sequence/obj/Debug/net5.0/02-sequence.dll
/01-csahrp-procedural/01-instuctions/02-sequence/obj/Debug/net5.0/02-sequence.genruntimeconfig.cache
/01-csahrp-procedural/01-instuctions/02-sequence/obj/Debug/net5.0/02-sequence.pdb
/01-csahrp-procedural/01-instuctions/02-sequence/obj/Debug/net5.0/apphost.exe
/01-csahrp-procedural/01-instuctions/02-sequence/obj/Debug/net5.0/ref/02-sequence.dll
/01-csahrp-procedural/01-instuctions/02-sequence/obj/project.assets.json
/01-csahrp-procedural/01-instuctions/02-sequence/obj/project.nuget.cache
/01-csahrp-procedural/02-variables/01-int-variables/bin/Debug/net5.0/01-int-variables.deps.json
/01-csahrp-procedural/02-variables/01-int-variables/bin/Debug/net5.0/01-int-variables.dll
/01-csahrp-procedural/02-variables/01-int-variables/bin/Debug/net5.0/01-int-variables.exe
/01-csahrp-procedural/02-variables/01-int-variables/bin/Debug/net5.0/01-int-variables.pdb
/01-csahrp-procedural/02-variables/01-int-variables/bin/Debug/net5.0/01-int-variables.runtimeconfig.dev.json
/01-csahrp-procedural/02-variables/01-int-variables/bin/Debug/net5.0/01-int-variables.runtimeconfig.json
/01-csahrp-procedural/02-variables/01-int-variables/bin/Debug/net5.0/02-variables.deps.json
/01-csahrp-procedural/02-variables/01-int-variables/bin/Debug/net5.0/02-variables.dll
/01-csahrp-procedural/02-variables/01-int-variables/bin/Debug/net5.0/02-variables.exe
/01-csahrp-procedural/02-variables/01-int-variables/bin/Debug/net5.0/02-variables.pdb
/01-csahrp-procedural/02-variables/01-int-variables/bin/Debug/net5.0/02-variables.runtimeconfig.dev.json
/01-csahrp-procedural/02-variables/01-int-variables/bin/Debug/net5.0/02-variables.runtimeconfig.json
/01-csahrp-procedural/02-variables/01-int-variables/bin/Debug/net5.0/ref/01-int-variables.dll
/01-csahrp-procedural/02-variables/01-int-variables/bin/Debug/net5.0/ref/02-variables.dll
/01-csahrp-procedural/02-variables/01-int-variables/obj/01-int-variables.csproj.nuget.dgspec.json
/01-csahrp-procedural/02-variables/01-int-variables/obj/01-int-variables.csproj.nuget.g.props
/01-csahrp-procedural/02-variables/01-int-variables/obj/01-int-variables.csproj.nuget.g.targets
/01-csahrp-procedural/02-variables/01-int-variables/obj/02-variables.csproj.nuget.dgspec.json
/01-csahrp-procedural/02-variables/01-int-variables/obj/02-variables.csproj.nuget.g.props
/01-csahrp-procedural/02-variables/01-int-variables/obj/02-variables.csproj.nuget.g.targets
/01-csahrp-procedural/02-variables/01-int-variables/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/01-csahrp-procedural/02-variables/01-int-variables/obj/Debug/net5.0/01-int-variables.AssemblyInfo.cs
/01-csahrp-procedural/02-variables/01-int-variables/obj/Debug/net5.0/01-int-variables.AssemblyInfoInputs.cache
/01-csahrp-procedural/02-variables/01-int-variables/obj/Debug/net5.0/01-int-variables.GeneratedMSBuildEditorConfig.editorconfig
/01-csahrp-procedural/02-variables/01-int-variables/obj/Debug/net5.0/01-int-variables.assets.cache
/01-csahrp-procedural/02-variables/01-int-variables/obj/Debug/net5.0/01-int-variables.csproj.AssemblyReference.cache
/01-csahrp-procedural/02-variables/01-int-variables/obj/Debug/net5.0/01-int-variables.csproj.CoreCompileInputs.cache
/01-csahrp-procedural/02-variables/01-int-variables/obj/Debug/net5.0/01-int-variables.csproj.FileListAbsolute.txt
/01-csahrp-procedural/02-variables/01-int-variables/obj/Debug/net5.0/01-int-variables.dll
/01-csahrp-procedural/02-variables/01-int-variables/obj/Debug/net5.0/01-int-variables.genruntimeconfig.cache
/01-csahrp-procedural/02-variables/01-int-variables/obj/Debug/net5.0/01-int-variables.pdb
/01-csahrp-procedural/02-variables/01-int-variables/obj/Debug/net5.0/02-variables.AssemblyInfo.cs
/01-csahrp-procedural/02-variables/01-int-variables/obj/Debug/net5.0/02-variables.AssemblyInfoInputs.cache
/01-csahrp-procedural/02-variables/01-int-variables/obj/Debug/net5.0/02-variables.GeneratedMSBuildEditorConfig.editorconfig
/01-csahrp-procedural/02-variables/01-int-variables/obj/Debug/net5.0/02-variables.assets.cache
/01-csahrp-procedural/02-variables/01-int-variables/obj/Debug/net5.0/02-variables.csproj.AssemblyReference.cache
/01-csahrp-procedural/02-variables/01-int-variables/obj/Debug/net5.0/02-variables.csproj.CoreCompileInputs.cache
/01-csahrp-procedural/02-variables/01-int-variables/obj/Debug/net5.0/02-variables.csproj.FileListAbsolute.txt
/01-csahrp-procedural/02-variables/01-int-variables/obj/Debug/net5.0/02-variables.dll
/01-csahrp-procedural/02-variables/01-int-variables/obj/Debug/net5.0/02-variables.genruntimeconfig.cache
/01-csahrp-procedural/02-variables/01-int-variables/obj/Debug/net5.0/02-variables.pdb
/01-csahrp-procedural/02-variables/01-int-variables/obj/Debug/net5.0/apphost.exe
/01-csahrp-procedural/02-variables/01-int-variables/obj/Debug/net5.0/ref/01-int-variables.dll
/01-csahrp-procedural/02-variables/01-int-variables/obj/Debug/net5.0/ref/02-variables.dll
/01-csahrp-procedural/02-variables/01-int-variables/obj/project.assets.json
/01-csahrp-procedural/02-variables/01-int-variables/obj/project.nuget.cache
/01-csahrp-procedural/02-variables/02-int-variables overflow/bin/Debug/net5.0/01-int-variables.deps.json
/01-csahrp-procedural/02-variables/02-int-variables overflow/bin/Debug/net5.0/01-int-variables.dll
/01-csahrp-procedural/02-variables/02-int-variables overflow/bin/Debug/net5.0/01-int-variables.exe
/01-csahrp-procedural/02-variables/02-int-variables overflow/bin/Debug/net5.0/01-int-variables.pdb
/01-csahrp-procedural/02-variables/02-int-variables overflow/bin/Debug/net5.0/01-int-variables.runtimeconfig.dev.json
/01-csahrp-procedural/02-variables/02-int-variables overflow/bin/Debug/net5.0/01-int-variables.runtimeconfig.json
/01-csahrp-procedural/02-variables/02-int-variables overflow/bin/Debug/net5.0/02-int-variables-overflow.deps.json
/01-csahrp-procedural/02-variables/02-int-variables overflow/bin/Debug/net5.0/02-int-variables-overflow.dll
/01-csahrp-procedural/02-variables/02-int-variables overflow/bin/Debug/net5.0/02-int-variables-overflow.exe
/01-csahrp-procedural/02-variables/02-int-variables overflow/bin/Debug/net5.0/02-int-variables-overflow.pdb
/01-csahrp-procedural/02-variables/02-int-variables overflow/bin/Debug/net5.0/02-int-variables-overflow.runtimeconfig.dev.json
/01-csahrp-procedural/02-variables/02-int-variables overflow/bin/Debug/net5.0/02-int-variables-overflow.runtimeconfig.json
/01-csahrp-procedural/02-variables/02-int-variables overflow/bin/Debug/net5.0/02-variables.deps.json
/01-csahrp-procedural/02-variables/02-int-variables overflow/bin/Debug/net5.0/02-variables.dll
/01-csahrp-procedural/02-variables/02-int-variables overflow/bin/Debug/net5.0/02-variables.exe
/01-csahrp-procedural/02-variables/02-int-variables overflow/bin/Debug/net5.0/02-variables.pdb
/01-csahrp-procedural/02-variables/02-int-variables overflow/bin/Debug/net5.0/02-variables.runtimeconfig.dev.json
/01-csahrp-procedural/02-variables/02-int-variables overflow/bin/Debug/net5.0/02-variables.runtimeconfig.json
/01-csahrp-procedural/02-variables/02-int-variables overflow/bin/Debug/net5.0/ref/01-int-variables.dll
/01-csahrp-procedural/02-variables/02-int-variables overflow/bin/Debug/net5.0/ref/02-int-variables-overflow.dll
/01-csahrp-procedural/02-variables/02-int-variables overflow/bin/Debug/net5.0/ref/02-variables.dll
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/01-int-variables.csproj.nuget.dgspec.json
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/01-int-variables.csproj.nuget.g.props
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/01-int-variables.csproj.nuget.g.targets
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/02-int-variables-overflow.csproj.nuget.dgspec.json
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/02-int-variables-overflow.csproj.nuget.g.props
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/02-int-variables-overflow.csproj.nuget.g.targets
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/02-variables.csproj.nuget.dgspec.json
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/02-variables.csproj.nuget.g.props
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/02-variables.csproj.nuget.g.targets
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/01-int-variables.AssemblyInfo.cs
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/01-int-variables.AssemblyInfoInputs.cache
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/01-int-variables.GeneratedMSBuildEditorConfig.editorconfig
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/01-int-variables.assets.cache
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/01-int-variables.csproj.AssemblyReference.cache
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/01-int-variables.csproj.CoreCompileInputs.cache
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/01-int-variables.csproj.FileListAbsolute.txt
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/01-int-variables.dll
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/01-int-variables.genruntimeconfig.cache
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/01-int-variables.pdb
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/02-int-variables-overflow.AssemblyInfo.cs
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/02-int-variables-overflow.AssemblyInfoInputs.cache
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/02-int-variables-overflow.GeneratedMSBuildEditorConfig.editorconfig
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/02-int-variables-overflow.assets.cache
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/02-int-variables-overflow.csproj.AssemblyReference.cache
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/02-int-variables-overflow.csproj.CoreCompileInputs.cache
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/02-int-variables-overflow.csproj.FileListAbsolute.txt
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/02-int-variables-overflow.dll
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/02-int-variables-overflow.genruntimeconfig.cache
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/02-int-variables-overflow.pdb
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/02-variables.AssemblyInfo.cs
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/02-variables.AssemblyInfoInputs.cache
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/02-variables.GeneratedMSBuildEditorConfig.editorconfig
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/02-variables.assets.cache
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/02-variables.csproj.AssemblyReference.cache
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/02-variables.csproj.CoreCompileInputs.cache
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/02-variables.csproj.FileListAbsolute.txt
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/02-variables.dll
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/02-variables.genruntimeconfig.cache
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/02-variables.pdb
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/apphost.exe
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/ref/01-int-variables.dll
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/ref/02-int-variables-overflow.dll
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/ref/02-variables.dll
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/project.assets.json
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/project.nuget.cache
/04-blazor/01-wasm-new/obj/01-01.csproj.nuget.dgspec.json
/04-blazor/01-wasm-new/obj/01-01.csproj.nuget.g.props
/04-blazor/01-wasm-new/obj/01-01.csproj.nuget.g.targets
/04-blazor/01-wasm-new/obj/project.assets.json
/04-blazor/01-wasm-new/obj/project.nuget.cache
/.vs/teacjing-samples/v16/.suo
/01-csahrp-procedural/02-variables/01-int-variables/obj/Debug/net5.0/01-int-variables.csprojAssemblyReference.cache
/01-csahrp-procedural/02-variables/02-int-variables overflow/obj/Debug/net5.0/02-int-variables-overflow.csprojAssemblyReference.cache
/.vs/teacjhng-samples/v16/.suo
/.vscode/tasks.json
/.vscode/launch.json
/01-csahrp-procedural/01-instuctions/01-hello-world/.vs/01-hello-world/DesignTimeBuild/.dtbcache.v2
/01-csahrp-procedural/01-instuctions/03-comments/obj
/01-csahrp-procedural/01-instuctions/03-comments/bin/Debug/net5.0
/01-csahrp-procedural/02-variables/03-byte-short-long-variables/obj
/01-csahrp-procedural/02-variables/03-byte-short-long-variables/bin/Debug/net5.0
/01-csahrp-procedural/02-variables/03-byte-short-long-variables/.vscode
/04-blazor-wasm/01-wasm-hello/obj/01-01.csproj.nuget.dgspec.json
/04-blazor-wasm/01-wasm-hello/obj/01-01.csproj.nuget.g.props
/04-blazor-wasm/01-wasm-hello/obj/01-01.csproj.nuget.g.targets
/04-blazor-wasm/01-wasm-hello/obj/project.assets.json
/04-blazor-wasm/01-wasm-hello/obj/project.nuget.cache
/04-blazor-wasm/01-wasm-hello/obj
