@inherits LayoutComponentBase

<div class="page">

    <div class="main">
        <div class="top-row px-4">
            <a href="http://www.math.rs/~vladaf" target="_blank" class="ml-md-auto">About author</a>
        </div>
        <div class="content px-4">
            <CounterIncrementDecrement />
        </div>
        <hr class="text-black-50"/>
        <div class="content px-4">
            <CounterIncrementDecrementP CurrentCount=42 IncDecValue=21 />
        </div>
    </div>
</div>
