@page "/simple-counter"

<h1>Simple Counter</h1>

<p>This is an example of simple counter.</p>

<p>Current count: <strong> @currentCount </strong> </p>

<button @onclick="IncrementCount">Increment</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
