@page "/"

<h1>Integrated web application</h1>

<p>This web application integrates all previously developed components.</p>

<p>It serves as the illustration the navigation.</p>

<hr style="background-color: darkblue;" />

<SurveyPrompt Title="How is Blazor working for you?" />
